.catCardContainer{
    display: flex;
    width: 500px;
    flex-direction: column;
    text-align: left;
    font-size: 18px;
    box-shadow: 0 3px 3px 2px rgb(0 0 0 / 20%);
   
}

.country{
    font-weight: bold;
}
.text > p {
    margin: 0;
    margin-bottom: 6px;
}
.text > p > span{
    font-weight: 500;
}
.text{
    padding: 12px
}
.catimage img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}
    
.catimage:hover img {
    transform: scale(1.1);
}
.catimage{
    overflow: hidden;
}