.divinput{
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 16px;
}
.input{
  color: hsl(235, 24%, 19%);
  font-family: 'Nunito Sans', sans-serif;
  border-radius: 5px;
  margin-bottom: 15px;
  width: 300px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  border:2px solid rgba(0,0,0,0.2);
  box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
}
.input:hover {
  border-color: #888;
}
.divinput > select{
  display: block;
  font-size: 13px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  width: 125px;
  cursor: pointer;
  height: 35px;
  border-radius: 5px;
  font-weight: bold;
  color: hsl(235, 24%, 19%);
  border:2px solid rgba(0,0,0,0.2);
  margin-bottom: 15px;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
}
.select:hover {
  border-color: #888;
}
.reset{
  width: 100px;
  height: 40px;
  cursor: pointer;
  color: hsl(235, 24%, 19%);
  border:2px solid rgba(0,0,0,0.2);
  font-weight: bold;
}
.reset:hover {
  border-color: #888;
}